<footer class='container-fluid row justify-content-center align-items-center pt-3 px-5 g-0'>
  <a class='navbar-brand text-center pb-3 col-md col-lg-2' href='/'>
    <img src='/logo-black.png' alt='Website Logo' class='img-fluid' style='max-width: 150px' />
  </a>
  <article class='col-md col-lg-4 py-2 justify-content-lg-center'>
    <div class='row'>
      <h3 class='fcolor text-xl-center'>Site Links</h3>
    </div>
    <div class='row'>
      <nav class='footer-links justify-content-lg-center nav col-lg'>
        <a class='nav-link' href='/'>Home</a>
        <a class='nav-link' href='/rentals'>Rentals</a>
        {{#unless user}}
          <a class='nav-link' href='/sign-up'>Sign Up</a>
          <a class='nav-link' href='/log-in'>Login</a>
        {{else}}
          {{#if isCustomer}}
            <a class='nav-link' href='/cart'>{{user.firstName}}</a>
          {{else}}
            <a class='nav-link' href='/rentals/list'>{{user.firstName}}</a>
          {{/if}}
          <a class='nav-link' href='/logout'>Logout</a>
        {{/unless}}
      </nav>
    </div>
    <div class='row mt-2 text-xl-center'>
      <h3 class='fcolor'>Follow our socials</h3>
    </div>
    <div class='row'>
      <nav class='footer-socials nav navbar-expand justify-content-xl-center fs-3'>
        <a class='nav-link' href='https://www.facebook.com/'><i class='fa-brands fa-facebook'></i></a>
        <a class='nav-link' href='https://twitter.com/'><i class='fa-brands fa-twitter'></i></a>
        <a class='nav-link' href='https://www.instagram.com/'><i class='fa-brands fa-instagram'></i></a>
        <a class='nav-link' href='https://www.linkedin.com/'><i class='fa-brands fa-linkedin'></i></a>
      </nav>
    </div>
  </article>
  <p class='col-lg-6 justify-content-center'>
    By submitting this assignment I declare that this assignment is my own work in accordance with the Seneca Academic Policy. No part of this assignment has been copied manually or electronically
    from any other source (including web sites) or distributed to other students.
    <br /><br />
    &#169; Marife Dela Torre, mdela-torre@myseneca.ca, WEB322 Winter 2023
  </p>
</footer>