<footer>
  <div class='logo-container'>
    <a href='/'><img class='site-logo' src='/logo-black.png' alt='Website Logo' /></a>
  </div>
  <article class='footer-links'>
    <h4>Site Links</h4>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/rentals'>Rentals</a></li>
      <li><a href='/sign-up'>Sign Up</a></li>
      <li><a href='/login'>Login</a></li>
    </ul>
  </article>
  <article class='footer-socials'>
    <h4>Follow our socials</h4>
    <ul>
      <li>
        <a href='https://www.facebook.com/'><i class='fa-brands fa-facebook'></i></a>
      </li>
      <li>
        <a href='https://twitter.com/'><i class='fa-brands fa-twitter'></i></a>
      </li>
      <li>
        <a href='https://www.instagram.com/'><i class='fa-brands fa-instagram'></i></a>
      </li>
      <li>
        <a href='https://www.linkedin.com/'><i class='fa-brands fa-linkedin'></i></a>
      </li>
    </ul>
  </article>
  <p>
    By submitting this assignment I declare that this assignment is my own work in accordance with
    the Seneca Academic Policy. No part of this assignment has been copied manually or
    electronically from any other source (including web sites) or distributed to other students.
    <br /><br />
    &#169; Marife Dela Torre, mdela-torre@myseneca.ca, WEB322 Winter 2023
  </p>
</footer>