<header class='container-fluid'>
  <nav class='navbar navbar-expand-lg nav-links'>
    <div class='container-fluid flex-row justify-content-lg-center'>
      <a class='navbar-brand text-center pb-3' href='/'>
        <img src='/logo.png' alt='Website Logo' class='img-fluid' style='max-width: 150px' />
      </a>
      <button
        class='navbar-toggler btn'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#navbarNavAltMarkup'
        aria-controls='navbarNavAltMarkup'
        aria-expanded='false'
        aria-label='Toggle navigation'
      >
        <i class='fa-solid fa-bars'></i>
      </button>
      <div class='collapse navbar-collapse justify-content-md-start' id='navbarNavAltMarkup'>
        <div class='navbar-nav text-center'>
          <a class='nav-link' href='/'>Home</a>
          <a class='nav-link' href='/rentals'>Rentals</a>
          {{#unless user}}
            <a class='nav-link' href='/sign-up'>Sign Up</a>
            <a class='nav-link' href='/log-in'>Login</a>
          {{else}}
            {{#if isCustomer}}
              <a class='nav-link' href='/cart'>{{user.firstName}}</a>
            {{else}}
              <a class='nav-link' href='/rentals/list'>{{user.firstName}}</a>
            {{/if}}
            <a class='nav-link' href='/logout'>Logout</a>
          {{/unless}}
        </div>
      </div>
    </div>
  </nav>
</header>