<header>
  <nav>
    <div class='logo-container'>
      <a href='/'><img class='site-logo' src='/logo.png' alt='Website Logo' /></a>
    </div>
    <ul class='nav-links'>
      <li><a href='/'>Home</a></li>
      <li><a href='/rentals'>Rentals</a></li>
      <li><a href='/sign-up'>Sign Up</a></li>
      <li><a href='/login'>Login</a></li>
    </ul>
    &nbsp;
  </nav>
</header>