<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    {{#each styles}}
        <link rel='stylesheet' href='/css/{{name}}' />
    {{/each}}
    <!-- Fontawesome -->
    <link rel='stylesheet' href='/fontawesome/css/fontawesome.min.css' />
    <link rel='stylesheet' href='/fontawesome/css/solid.min.css' />
    <link rel='stylesheet' href='/fontawesome/css/brands.min.css' />
    <title>D|N Rentals - Rent a property</title>
  </head>
  <body>
    {{>navbar}}
    <main>{{{body}}}</main>
    {{>footer}}
  </body>
</html>