 <section id='hero'>
    <div class='hero-caption'>
      <p>
        Find the place that
        <em style='color: #ffb3b3'>fits</em>
        you.
        <br />Be
        <strong style='color: #ffdba4'>discovered</strong>! Let people
        <u style='color: #c1efff'>rent</u>
        your place.
      </p>
    </div>
    <a id='hero-btn-next' href='#services'>
      <i class='fa-solid fa-arrow-down'></i>
    </a>
  </section>
  <section id='services'>
    <div id='featuredServices'>
      <article class='service'>
        <h4>Manage properties</h4>
        <i class='fa-solid fa-house-laptop'></i>
        <p>
          Listing properties made easy. Show all the important information about your listing
        </p>
      </article>
      <article class='service'>
        <h4>Customer Support</h4>
        <i class='fa-solid fa-square-phone'></i>
        <p>
          Available 24 hours a day,
          <br />
          7 days a week. Helping clients on whatever they need
        </p>
      </article>
      <article class='service'>
        <h4>Verify Guests</h4>
        <i class='fa-solid fa-user-shield'></i>
        <p>We make sure that all clients are verified before anything else</p>
      </article>
      <article class='service'>
        <h4>Explore Locations</h4>
        <i class='fa-solid fa-map-location-dot'></i>
        <p>Search properties based on the location that you chose</p>
      </article>
    </div>
  </section>
  <section id='featuredRentals'>
    <h2>Featured Rentals</h2>
    <div class='rentals-container'>
      {{#each rentals}}
        {{>rental}}
      {{/each}}
    </div>
  </section>