<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>D|N Rentals - Rent a property</title>
  </head>
  <body>
    <header>
      <div class="logo-container">
        <a href="/"
          ><img id="site-logo" src="/logo.png" alt="Website Logo"
        /></a>
      </div>
      <nav>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/rentals">Rentals</a></li>
          <li><a href="/sign-up">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
      <div></div>
    </header>
    <main>
      <section class="hero">
        <div class="hero-caption">
          <p>
            Find the place that <em style="color: #ffb3b3">fits</em> you.
            <br />Be <strong style="color: #ffdba4">discovered</strong>! Let
            people <u style="color: #c1efff">rent</u> your place.
          </p>
        </div>
        <a id="hero-btn-next" href="#rentals">&#x21e9;</a>
      </section>
      <section id="rentals"></section>
    </main>

    <footer></footer>
  </body>
</html>
