<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>D|N Rentals - Rent a property</title>
  </head>
  <body>
    <header>
      <div class="logo-container">
        <a href="/"
          ><img class="site-logo" src="/logo.png" alt="Website Logo"
        /></a>
      </div>
      <nav>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/rentals">Rentals</a></li>
          <li><a href="/sign-up">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
      <div></div>
    </header>
    <main>
      <section class="hero">
        <div class="hero-caption">
          <p>
            Find the place that <em style="color: #ffb3b3">fits</em> you.
            <br />Be <strong style="color: #ffdba4">discovered</strong>! Let
            people <u style="color: #c1efff">rent</u> your place.
          </p>
        </div>
        <a id="hero-btn-next" href="#featuredRentals">&#x21e9;</a>
      </section>
      <section id="featuredRentals">
        <h3>Featured Rentals</h3>
        <div id="rentals-container">
          <article class="rental-container"></article>
          <article class="rental-container"></article>
          <article class="rental-container"></article>
        </div>
      </section>
    </main>
    <footer>
      <div class="logo-container">
        <a href="/"
          ><img class="site-logo" src="/logo-black.png" alt="Website Logo"
        /></a>
      </div>
      <ul class="footer-links">
        <li><a href="/">Home</a></li>
        <li><a href="/rentals">Rentals</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
      <ul class="footer-socials">
        <li><a href="https://www.facebook.com/">Facebook</a></li>
        <li><a href="https://twitter.com/">Twitter</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
        <li><a href="https://www.linkedin.com/">LinkedIn</a></li>
      </ul>
      <p>
        By submitting this assignment I declare that this assignment is my own
        work in accordance with the Seneca Academic Policy. No part of this
        assignment has been copied manually or electronically from any other
        source (including web sites) or distributed to other students.
        <br /><br />
        &#169; Marife Dela Torre, mdela-torre@myseneca.ca, WEB322 Winter 2023
      </p>
    </footer>
  </body>
</html>
