<section id='login-w' class='container-fluid d-flex align-items-center py-4' style='height:90vh'>
  <form class='container mx-auto col col-md-8 col-xl-4 rounded px-4'>
    <div class='form-floating'>
      <h2 class='text-center mb-4 fw-bolder'>Welcome Back</h2>
    </div>
    <div class='form-floating mb-3'>
      <input type='email' class='form-control' id='floatingInput' placeholder='name@example.com' />
      <label for='floatingInput'>Email address</label>
    </div>
    <div class='form-floating mb-4'>
      <input type='password' class='form-control' id='floatingPassword' placeholder='Password' />
      <label for='floatingPassword'>Password</label>
    </div>
    <div class='mx-auto'>
      <button type='button' class='btn container bg-green fs-4'>Log in</button>
    </div>
  </form>
</section>