<section id='signup-w' class='container-fluid d-flex align-items-center py-4' style='height:90vh'>
  <form class='container mx-auto col col-md-8 col-xl-4 rounded px-4'>
    <div class='form-floating mb-4'>
      <h2 class='text-center fw-bolder'>Sign Up</h2>
      <p>Create your account by entering your email address and choosing a password</p>
    </div>
    <div class='form-floating mb-3'>
      <input type='text' class='form-control' id='f_firstName' placeholder='John' />
      <label for='f_firstName'>First Name</label>
    </div>
    <div class='form-floating mb-3'>
      <input type='text' class='form-control' id='f_lastName' placeholder='Doe' />
      <label for='f_lastName'>Last Name</label>
    </div>
    <div class='form-floating mb-3'>
      <input type='email' class='form-control' id='f_email' placeholder='name@example.com' />
      <label for='f_email'>Email address</label>
    </div>
    <div class='form-floating mb-4'>
      <input type='password' class='form-control' id='f_pw' placeholder='Password' />
      <label for='f_pw'>Password</label>
    </div>
    <div class='mx-auto'>
      <button type='button' class='btn container bg-green fs-4'>Sign up today</button>
    </div>
  </form>
</section>