<section id='welcome' class='row rounded-3 g-0 gap-2 mt-5 mb-5 d-flex flex-column d-md-flex flex-md-row'>
  <div class='d-md-flex col col-md-5'>
    <img
      class='rounded img-fluid'
      srcset='villa-480w.jpg 480w, villa.jpg 863w'
      sizes='(max-width: 768px) 480px,
         863px'
      src='villa.jpg'
      alt='Villa with a pool'
    />
  </div>
  <div class='col d-flex flex-column align-items-center justify-content-center p-2'>
    <h1 class='mb-5'>Welcome!</h1>
    <div class='mx-auto d-flex gap-2 justify-content-between px-5 mb-4'>
      <button type='button' class='btn btn-lg'>List a property</button>
      <button type='button' class='btn btn-lg'>Find your place</button>
    </div>
  </div>
</section>