<section id='sCart' style='background-color: #31af9c;' class='container-fluid row justify-content-center align-items-center'>
  {{#if message}}
    <h1 style='color:white' class='text-center'>{{message}}</h1>
  {{/if}}
</section>