 <section id='hero' class="row container-fluid">
    <div class='col-12 col-md-10 col-xxl-7'>
      <p>
        Find the place that
        <em style='color: #ffb3b3'>fits</em>
        you. <br> Be
        <strong style='color: #ffdba4'>discovered</strong>! <br>Let people
        <u style='color: #c1efff'>rent</u>
        your place.
      </p>
    </div>
    <a id='hero-btn-next' href='#services' class="mx-auto">
      <i class='fa-solid fa-arrow-down'></i>
    </a>
  </section>
  <section id='services' class="container-fluid">
    <div class="row px-2 pb-4 mx-2 my-3">
      <article class='col-sm-6 col-lg-3 d-flex flex-column mx-auto'>
        <h4 class="pt-4">Manage properties</h4>
        <div class="row d-flex justify-content-center align-items-center ps-3 mt-2">
          <i class='fa-solid fa-house-laptop text-center col-4'></i>
          <p class="col-8">
            Listing properties made easy. Show all the important information about your listing
          </p>
        </div>
      </article>
      <article class='col-sm-6 col-lg-3 d-flex flex-column'>
        <h4 class="pt-4">Customer Support</h4>
        <div class="row d-flex justify-content-center align-items-center ps-3 mt-2">
          <i class='fa-solid fa-square-phone text-center col-4'></i>
          <p class="col-8">
            Available 24 hours a day, 7 days a week. Helping clients on whatever they need
          </p>
        </div>
      </article>
      <article class='col-sm-6 col-lg-3 d-flex flex-column'>
        <h4 class="pt-4">Verify Guests</h4>
        <div class="row d-flex justify-content-center align-items-center ps-3 mt-2">
          <i class='fa-solid fa-user-shield text-center col-4'></i>
          <p class="col-8"> We make sure that all clients are verified before anything else</p>
        </div>
      </article>
      <article class='col-sm-6 col-lg-3 d-flex flex-column'>
        <h4 class="pt-4">Explore Locations</h4>
        <div class="row d-flex justify-content-center align-items-center ps-3 mt-2">
          <i class='fa-solid fa-map-location-dot text-center col-4'></i>
          <p class="col-8"> Search properties based on the location that you chose</p>
        </div>
      </article>
    </div>
  </section>
  <section id='featuredRentals' class="container-fluid mx-auto px-sm-4 pt-3">
    <h2 class="fw-bolder dGreen mb-3">Featured Rentals</h2>
    <div class='row'>
      {{#each rentals}}
        <div class="col-12 col-md-6 col-lg-4 p-2 d-flex flex-column align-items-center">
          {{>rental cust=../isCustomer}}
        </div>
      {{/each}}
    </div>
  </section>