#signup-w,
#login-w {
  color: #184d47;
  background-color: #31af9c;
  min-height: 90vh;
}

.bg-green {
  color: white;
  background-color: #184d47;
}

form {
  border: 1px solid #dadada;
  padding: 50px 0;
  background-color: white;
  box-shadow: 0px 6px 15px rgb(27, 27, 27);
}

form label {
  color: grey;
}

.form-check-label {
  color: #184d47;
  font-weight: 600;
}
input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid currentColor;
}

.form-check-input:checked {
  background-color: #184d47;
  border-color: #184d47;
}

.btn:hover {
  color: white;
  background-color: #31af9c;
}
