@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
}

body {
  width: 100%;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  background-color: #fff;
  height: 10vh;
  border-bottom: 1px solid #a5a5a5;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.4fr 0.6fr;
  padding: 15px 20px;
  align-items: center;
  justify-items: center;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.9em;
}

.nav-links {
  display: flex;
  justify-content: start;
  font-weight: 600;
  font-size: 1.5em;
  padding: 0 5px;
  gap: 1.5em;
}

.nav-links a {
  color: #626268;
  transition: color 0.125s ease;
}

.nav-links a:hover {
  color: #184d47;
}

.logo-container {
  height: 90px;
  padding: 15px 0;
  flex-shrink: 0;
}

.footer-links a,
.footer-socials a {
  color: white;
}

.footer-links h4,
.footer-socials h4 {
  color: #31af9c;
}
.footer-links a:hover,
.footer-socials a:hover {
  color: #31af9c;
}

.footer-links ul {
  border-left: 5px solid #373738;
  padding-left: 15px;
}
.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-socials ul {
  display: flex;
  gap: 10px;
  font-size: 2em;
}
