@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,700&display=swap");
/* 
Color Scheme #1: 
#77C9D4 - light blue
#57BC90 - light green
#015249 - dark green (forest)
#A5A5AF - grey
*/

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
}

body {
  width: 100%;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 5px;
  background-color: #fff;
  height: 10vh;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.6fr;
  padding: 15px 20px;
  align-items: center;
  justify-items: center;
}

nav {
  width: 70%;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.9em;
}
.nav-links {
  display: flex;
  justify-content: start;
  font-weight: 600;
  font-size: 1.5em;
  padding: 0 5px;
  gap: 1em;
}

.nav-links a {
  color: #626268;
  transition: color 0.125s ease;
}

.nav-links a:hover {
  color: #184d47;
}

.logo-container {
  height: 90px;
  margin: 0 20px;
}

#hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url(/hero-bg.jpg);
  background-size: cover auto;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  flex-direction: column;
  gap: 20px;
}

.hero-caption {
  width: 70%;
}
#hero p {
  word-wrap: break-word;
  background-color: rgb(0, 0, 0, 0.8);
  text-align: center;
}

#hero-btn-next {
  position: absolute;
  font-size: 1.2em;
  bottom: 40px;
  border: none;
  border-radius: 40px;
  padding: 0 5px;
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
}

#hero-btn-next:hover {
  color: black;
  background-color: white;
}

#featuredRentals {
  width: 70%;
  /* height: 100vh; */
  padding: 20px 0;
  color: black;
}

#featuredRentals > h2 {
  color: #184d47;
}

#rentals-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
  gap: 10px;
}
.rental-container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 10px;
}

.rental-img > img,
.rental-img {
  border-radius: 20px;
}

.rental-details {
  display: flex;
  flex: 1 0;
  gap: 5px;
  align-items: center;
}

.rentalAddress {
  font-style: normal;
  padding: 5px 15px;
  width: 50%;
}

.rent-otherInfo {
  width: 100%;
  text-align: right;
}

.rentalAddress * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.rentalAddress h3 {
  font-weight: 700;
}

.rentalAddress h4 {
  color: #373738;
}

.rentPrice {
  font-size: 1.5em;
  font-weight: 600;
  color: #184d47;
}

#services {
  background-color: #e5e7eb;
  width: 100%;
  display: flex;
  justify-content: center;
}

#featuredServices {
  margin: 50px 0;
  width: 70%;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

#featuredServices * {
  border: 1px solid green;
  height: 200px;
}
.footer-links a,
.footer-socials a {
  color: white;
}
.footer-links a:hover,
.footer-socials a:hover {
  color: #184d47;
}
