#clerkList {
  background-color: #31af9c;
  min-height: 90vh;
}

#clerkList button:hover,
#clerkList a:hover {
  background-color: white;
  color: #184d47;
}

.bg-green {
  color: white;
  background-color: #184d47;
}

table .btn {
  background-color: #1e6159;
  color: white;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
