.rentals-container {
  padding-top: 20px;
  color: black;
}
.rental-img > img,
.rental-img {
  border-radius: 50px;
}
.rentalAddress h3 {
  font-weight: 700;
}
.rentalAddress h4 {
  color: #373738;
}
.rentPrice {
  font-weight: 600;
  color: #184d47;
}
