<section id='clerkList' class='container-fluid row justify-content-center align-items-center'>
  {{#if messages.notClerk}}
    <h1 class='dGreen text-center'>{{messages.notClerk}}</h1>
  {{else}}
    <form method='post' action='/rentals/remove/{{id}}' class='row container col-lg-6 g-3 mx-auto rounded px-4'>
      <div class='form-floating mb-3'>
        <h1 class='text-center'>Are you sure you want to remove this rental?</h1>
        <div class='row gap-4'>
          <button class='btn bg-green col' type='submit'>Yes</button>
          <a class='btn bg-green col' href='/rentals/list'>No</a>
        </div>

      </div>
    </form>
  {{/if}}
</section>